<h1><%=user.firstname%>'s  Profile</h1>
<div class="row">  
    <div class="w3-panel w3-leftbar w3-light-grey">
      <p class="w3-xlarge w3-serif">
      <i>Quote of the day: "<%= quote.quoteText %>"</i></p>
    </div>
</div>

<div class="row">
    <div class="col s4">
        <img class="responsive-img" src="<%=user.pic%>" alt="profile pic">
    </div>
    <div class="col s4">
        <p><strong>Name: </strong> <%=user.firstname%> <%=user.lastname%>  </p>
        <p><strong>Birthday: </strong> <%=moment(user.birthday).format('dddd MMMM Do[,] YYYY')%> </p>
        <p><strong>Account Created On: </strong> <%= moment(user.createdAt).format('dddd MMMM Do[,] YYYY')%> </p>
        <p><strong>Bio: </strong> <%=user.occupation %> </p>
    </div>
    <div class="col s4">
        <div class="w3-content" style="max-width:400px">
            <% poses.forEach(p=>{ %>
              <div class="mySlides w3-container w3-white w3-card-4">
                <h1><b><%=p.english_name%>  </b></h1>
                <h3><i class="w3-tag w3-pale-red"><%=p.sanskrit_name%></i></h3>
                <img  src="<%=p.img_url%>"  alt="<%=p.english_name%>" style="width:100%">
            </div>
            <% }) %>    
          </div>
    </div>
</div>
<hr>



  <script>
    var slideIndex = 0;
    carousel();
    
    function carousel() {
      var i;
      var x = document.getElementsByClassName("mySlides");
      for (i = 0; i < x.length; i++) {
        x[i].style.display = "none"; 
      }
      slideIndex++;
      if (slideIndex > x.length) {slideIndex = 1} 
      x[slideIndex-1].style.display = "block"; 
      setTimeout(carousel, 3000); 
    }
    </script>