<h1>Edit this class</h1>
<h5>All fields are required. Form will not submit until all fields are filled in!</h5>

<hr>
<div class="left-align editH5">
    <h5 >Previously stored as:</h5>
</div>

<div class="row" id="editTable">
    <table  class="responsive-table striped">
        <thead>
          <tr>
                <th>Class Name</th> 
                <th>Class Type</th>
                <th>Date</th> 
                <th>Start Time</th>
                <th>End Time</th>
                <th>Instructor</th>
                <th>Location</th>
          </tr>
        </thead>
        <tbody>
            <tr>
                <td><%=cl.classname%></td>
                <td><%=cl.classtype%></td>
                <td><%=cl.classdate%></td>
                <td><%=cl.starttime%></td>
                <td><%=cl.endtime%></td>
                <td><%=cl.instructor.firstname%>  <%=cl.instructor.lastname %> </td>
                <td><%=cl.location.centername%></td>
            </tr>
        </tbody>
    </table>  
</div>
<hr>
<hr>
<div class="row">
    <form class="col s12" method="POST" action="/class/show?_method=PUT">
        <div class="row">
            <input type="hidden" name="id" value=<%=cl.id%>>
            <div class="input-field col s6">
                <input id="classname" type="text" name="classname" value="<%=cl.classname%> " required>
                <label for="classname">Class Name</label>
            </div>
            <input type="hidden" name="classtype" value="<%=cl.classtype%>">
            <input type="hidden" name="classdate" value="<%=cl.classdate%>">
            <input type="hidden" name="starttime" value="<%=cl.starttime%>">
            <input type="hidden" name="endtime" value="<%=cl.endtime%>">
        </div>  
        
        <div class="row">
            <div class="input-field col s6">
                <select name="instructorId" required>
                <option  value="" disabled selected>Choose your option</option>
                   <%  instructors.forEach(i=>{ %>
                   <% let fullname = i.firstname +" "+ i.lastname %> 
                <option  value="<%=i.id%>"> <%=fullname%> </option>
                    <% }) %> 
                </select>
                <label for="instructorId">Instructor</label>
            </div>
            <div class="input-field col s6">
                <select name="locationId" required>
                <option  value="" disabled selected>Choose your option</option>
                   <%  locations.forEach(l=>{ %>
                <option  value="<%=l.id%>"> <%=l.centername%> </option>
                    <% }) %> 
                </select>
                <label for="locationId">Location</label>
            </div>

        </div>
        <div class="row">
            
            <button class="btn waves-effect waves-light pink lighten-3" type="submit"> Update
                <i class="material-icons right">send</i>
            </button>
        </div>
    </form>
</div>