<h1>Register for classes</h1>


<table class="responsive-table striped ">
    <thead>
      <tr>
          <th>Class Name and Type</th>
          <th>Date</th>
          <th>Timings</th>
          <th>Instructor</th>
          <th>Location</th>
           <th>Price</th>
          <th>Register</th>
      </tr>
    </thead>
    <tbody>
     <%classes.forEach(cl=>{ %>  
        <% let res = cl.starttime.split(":")[0] %>    
        <% let str = "am"; if(res >=12) { str = "pm" }%> 
        <% let res1 = cl.endtime.split(":")[0] %>    
        <% let str1 = "am"; if(res1 >=12) { str1 = "pm" }%>  
        <tr>
            <td><%=cl.classname%>,  <%=cl.classtype%></td>
            <td><%=cl.classdate.toDateString()%></td>
            <td><%=cl.starttime+" "+str+"-"%><%=cl.endtime+" "+str1%></td>
            <td> <%=cl.instructor.firstname %>  <%=cl.instructor.lastname%></td>
            <td><%=cl.location.centername%></td>
            <td><%=cl.price%> $</td>
              
            <td>
                <form  method="POST" action="/class/userclass">
                    <input id="classid" type="hidden" name="classeventId" value="<%=cl.id%>">
                    <input id="userid" type="hidden" name="userId" value="<%=user.id%>">
                    <input id="registerCancel" type="hidden" name="registerCancel" value="register">
                    <% let status = true %> 
                    <% cl.class_users.forEach(u=>{ %>
                        <% if(u.userId === user.id && u.registerCancel== "register") { status = false; %>
                            <button class="btn waves-effect waves-light pink lighten-3" type="submit" disabled> Registered  
                                <i class="material-icons right">send</i>
                            </button>
                        <% } %> 
                    <%  }) %> 
                    <% if(status){ %>
                        <button class="btn waves-effect waves-light pink lighten-3" type="submit"> Register
                            <i class="material-icons right">send</i>
                        </button>
                    <% } %>                
                </form> 
            </td>
        </tr>
      <% }) %> 
    </tbody>
  </table>


