<h1>View Classes</h1>

<a class='dropdown-trigger btn pink lighten-3 grey-text text-darken-3' href='#' data-target='dropdown4'>Filter Classes!</a>

<!-- Dropdown Structure -->
<ul id='dropdown4' class='dropdown-content'>
 <li><a class="grey-text text-darken-3" href="/class/sortToday">Today's Classes</a></li>
 <li><a class="grey-text text-darken-3" href="/class/sort">Class Type</a></li>
 <li><a class="grey-text text-darken-3" href="/class/show">All Classes(By date)</a></li>  
  <li class="divider" tabindex="-1"></li>
  <li><a class="grey-text text-darken-3" href="/class/sort1">Upcoming Classes</a></li>
  <li><a class="grey-text text-darken-3" href="/class/sort1">History</a></li>
</ul>



    <table class="responsive-table striped ">
        <thead>
        <tr>  
            <th> Category</th>
            <th>Date</th>  
            <th>Class Name</th>
            <th>Timings</th>
            <th>Instructor</th>
            <th>Location</th>
            <th>Price</th>
            <th>Students </th>
        </tr>
        </thead>
        <tbody>
            <%   classes.forEach(cl=>{ %>
                <% let res = cl.starttime.split(":")[0] %>    
                <% let str = "am"; if(res >=12) { str = "pm" }%> 
                <% let res1 = cl.endtime.split(":")[0] %>    
                <% let str1 = "am"; if(res1 >=12) { str1 = "pm" }%>  
                <tr>
                    <td><strong><%=cl.classtype%> </strong></td>
                    <td><%=cl.classdate.toDateString()%></td>
                    <td><%=cl.classname%></td>
                    <td><%=cl.starttime+" "+str+"-"%><%=cl.endtime+" "+str1%></td>
                    <td> <%=cl.instructor.firstname %>  <%=cl.instructor.lastname%></td>
                    <td><%=cl.location.centername%></td>
                    <td><%=cl.price%> $</td>
                    <td>
                        <ul class="collapsible pink lighten-3">
                            <li>
                              <div class="collapsible-header pink lighten-5"><i class="material-icons">people_outline</i> Students</div>
                              <div class="collapsible-body">
                                 <% let status = false %>  
                                <% cl.users.forEach(u=>{ %>
                                    <%if (u.id && !(u.admin)) { %>
                                      <% status = true %>   
                                        <ul>
                                            <li><a class="grey-text text-darken-3" href="/profile/guest/<%=u.id%>"> <%=u.firstname%>  <%=u.lastname %> </a></li>
                                        </ul> 
                                    <% } %>                                                                  
                                <% }) %>
                                <% if (!status) { %>
                                    <ul><li>Nobody signed up!</li></ul>
                                <% } %>   
                              </div>
                            </li>
                        </ul> 
                    </td>
                </tr>  
            <% }) %>      
        </tbody>
    </table> 
   
