<h1>Show all Classes</h1>


<table class="responsive-table striped ">
    <thead>
      <tr>
        <th>Id</th>  
        <th>Date</th>  
        <th>Class Name and Type</th>
        <th>Timings</th>
        <th>Instructor</th>
        <th>Location</th>
        <th>Price</th>
        <th>Cancel Classes</th>
        <th>Edit Classes</th>
        <th>Students </th>
      </tr>
    </thead>
    <tbody>
        <%   classes.forEach(cl=>{ %>
            <% let res = cl.starttime.split(":")[0] %>    
            <% let str = "am"; if(res >=12) { str = "pm" }%> 
            <% let res1 = cl.endtime.split(":")[0] %>    
            <% let str1 = "am"; if(res1 >=12) { str1 = "pm" }%>  
            <tr>
                <td><%=cl.id%> </td>
                <td><%=cl.classdate.toDateString()%></td>
                <td><%=cl.classname%>,  <%=cl.classtype%></td>
                <td><%=cl.starttime+" "+str+"-"%><%=cl.endtime+" "+str1%></td>
                <td> <%=cl.instructor.firstname %>  <%=cl.instructor.lastname%></td>
                <td><%=cl.location.centername%></td>
                <td><%=cl.price%> $</td>
                <td>  
                    <form  method="POST" action="/class/<%=cl.id%>?_method=DELETE">
                        <button class="btn waves-effect waves-light pink lighten-3" type="submit">Remove
                            <i class="material-icons right">send</i>
                        </button>
                    </form>
                </td>
                <td>
                    <form  method="GET" action="/class/<%=cl.id%>">
                        <button class="btn waves-effect waves-light pink lighten-3" type="submit">Update
                            <i class="material-icons right">send</i>
                        </button>
                    </form>
                </td>
                <td>
                    <ul class="collapsible pink lighten-3">
                        <li>
                          <div class="collapsible-header pink lighten-5"><i class="material-icons">people_outline</i> Students</div>
                          <div class="collapsible-body">
                             <% let status = false %>  
                            <% cl.users.forEach(u=>{ %>
                                <%if (u.id && !(u.admin)) { %>
                                  <% status = true %>   
                                    <ul>
                                        <li><a class="grey-text text-darken-3" href="/profile/guest/<%=u.id%>"> <%=u.firstname%>  <%=u.lastname %> </a></li>
                                    </ul> 
                                <% } %>                                                                  
                            <% }) %>
                            <% if (!status) { %>
                                <ul><li>Nobody signed up!</li></ul>
                            <% } %>   
                          </div>
                        </li>
                    </ul> 
                </td>
             </tr>
        <% }) %> 
    </tbody>
</table>    

